body {
  width: 1200px;
  height: 800px;
}
.main-title-header {
  opacity: 0.7;
}
.navbar-image-custom {
  height: 4rem;
  display: flex;
  margin-left: 5px;
}

.header-text {
  display: flex;
  width: 100%;
  text-align: center;
}

.grid-container {
  display: grid;
  border: 1px solid black;
  margin-top: 5.2rem;
  position: static;
  color: black;
  width: 250px;
  height: 500px;
  grid-auto-flow: row;
  justify-content: center;
  align-items: start;
  float: left;
}

.grid-button {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  font-size: 1.5em;
}

.grid-menu-list {
  display: grid;
  grid-auto-flow: row;
  margin-top: 10px;
  height: 80%;
  justify-content: space-around;
  align-content: space-around;
  margin: auto;
  padding: 30px 0px;
}

.card-container-div {
  top: 100px;
  border: 2px solid red;
  position: static;
  margin-top: 200px;
  margin-left: 5px;
  margin-right: 5px;
  height: 550px;
  width: 800px;
}

/* .card {
  display: grid;
  grid-template-columns: 200px 900px;
  grid-template-rows: 500px;
  grid-auto-flow: column;
  width: 100%;
} */

.add-icon-img {
  border: 1px solid blue;
  height: 50px;
  float: right;
  margin-top: 100px;
  width: 40px;
  justify-content: right;
  align-items: right;
}
