body {
  /* width: 1200px; */
  /* height: 800px; */
  background-color: rgb(243, 194, 129);
}
.main-title-header {
  opacity: 1;
}
.navbar-image-custom {
  height: 4rem;
  display: flex;
  margin-left: 5px;
}

.header-text {
  display: flex;
  width: 100%;
  text-align: center;
}

.grid-container {
  display: grid;
  border: 1px solid black;
  margin-top: 4.6rem;
  position: static;
  color: black;
  width: 290px;
  height: 580px;
  grid-auto-flow: row;
  justify-content: center;
  align-items: start;
  float: left;
  background-color: rgb(209, 127, 19);
}

.grid-button {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  font-size: 1.5em;
}

.grid-menu-list {
  display: grid;
  grid-auto-flow: row;
  margin-top: 10px;
  height: 80%;
  justify-content: space-around;
  align-content: space-around;
  margin: auto;
  padding: 30px 0px;
}

.card-container-div {
  /* top: 250px;
  border: 2px solid red; */
  position: static;
  margin-top: 250px;
  margin-left: 5px;
  margin-right: 5px;
  height: 610px;
  width: 950px;
  background-color: darkcyan;
}

.add-icon-img {
  /* border: 1px solid blue; */
  height: 60px;
  float: right;
  /* margin-top: 60px; */
  width: 60px;
  padding: 0;
  margin: 0;
  justify-content: right;
  align-items: right;
  background-color: coral;
}

.add-icon-block {
  margin-top: 2px;
  font-size: 14px;
  display: flex;
  float: right;
}

.card {
  height: 100%;
  width: 100%;
}

.card-icon-img {
  /* border: 1px solid blue; */
  height: 20px;
  float: right;
  width: 20px;
  justify-content: right;
  align-items: right;
}
